body{
    max-width: 900px;
}

#name{
    float: left;
    width: 20%;
}

#gender{
    width:20%;
    float: left;
}

#position{
    width: 20%;
    float: left;
}

#telephone{
    width:20%;
    float: left;
}

#email{
    width:20%;
    float: left;
}

#home{
    width:20%;
    float: left;
}

.clearfix{
    clear: both;
}
