body{
    max-width: 1200px;
}

#resume-title{
    text-align: center;
    float: left;
    background-color: rgb(83, 158, 228);
    color: white;
    width: 20%;
    height: 600px;
    margin-right: 20px;
}

#resume-body{
    width: 75%;
    float: left;
}

#name{
    float: left;
    width: 20%;
}

#gender{
    width:20%;
    float: left;
}

#position{
    width: 20%;
    float: left;
}

#telephone{
    width:20%;
    float: left;
}

#email{
    width:20%;
    float: left;
}

#home{
    width:20%;
    float: left;
}

.clearfix{
    clear: both;
}
